  /* Fondo intocable mientras este el cartel de cookies */
.fondo-aviso-cookies {
    background-color: rgba(0,0,0,.20);
    position: fixed;
    z-index: 100; 
    width: 100vw;
    height: 100vh; 
    top: 0;
    left: 0;
}