/*Formulario Partido*/
.footer-contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000;
  height: 600px;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}
.formulario {
  font-size: 50px;
}
.formInner {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 650px;
}
.form-contenedor,
.form-content2 {
  width: 350px;
  height: 400px;
}

.form-content2 input,
select,
.form-contenedor input {
  color: #fff;
  background: #000;
  outline: none;
  font-size: 25px;
  border: none;
  border-bottom: 3px solid #00ffff;
  width: 90%;
  height: 70px;
}
input::placeholder {
  color: rgb(218, 17, 17);
}
.form-contenedor label,
.form-content2 label {
  font-size: 30px;
  font-family: 'Barlow', sans-serif;
}
.form-contenedor,
.form-content2 {
  width: 350px;
  height: 400px;
}
.form-content2 input,
select,
.form-contenedor input {
  color: #fff;
  background: #000;
  outline: none;
  font-size: 25px;
  border: none;
  border-bottom: 3px solid #00ffff;
  width: 90%;
  height: 70px;
}
.form-contenedor label,
.form-content2 label {
  font-size: 30px;
  font-family: 'Barlow', sans-serif;
}
/*Boton Formulario*/
.button {
  text-align: right;
  padding-top: 20px;
  width: 285px;
  height: 130px;
  margin-top: 10px;
}
button {
  font-family: 'Barlow', sans-serif;
  background: #008000;
  color: #fff;
  border: none;
  width: 93px;
  height: 43px;
  font-size: 25px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 1000;
}
/*Derechos Reservados*/
.boton2-p {
  font-size: 25px;
}
/* Frase De envio del form*/
.ContenedorEnvioExitoso {
  width: 300px;
  height: 60px;
  background-color: rgb(128, 228, 128);
  margin-top: 60px;
}
.envioExitoso {
  font-size: 25px;
  width: 300px;
  text-transform: uppercase;
  color: #06b8b8;
  text-align: center;
}
/* seccion de contacto*/
.contact-container {
  text-align: center;
  width: 250px;
  height: 300px;
}
.contact-container h1 {
  font-size: 50px;
}
.contact-container p {
  font-family: 'Barlow', sans-serif;
  font-size: 22px;
  padding-top: 10px;
  text-align: left;
  padding-left: 30px;
}
.ContactSvg {
  filter: invert(87%) sepia(50%) saturate(3055%) hue-rotate(52deg)
    brightness(95%) contrast(92%);
  width: 30px;
  font-size: 22px;
  float: left;
}
/*Seccion de Horarios*/
.Horarios-container {
  width: 250px;
  height: 200px;
  text-align: center;
}
.Horarios-container p {
  font-family: 'Barlow', sans-serif;
  font-size: 22px;
  padding-top: 10px;
}
.horarios {
  font-size: 50px;
}
@media screen and (max-width: 800px) {
  .footer-contenedor {
    flex-direction: column;
    height: 1500px;
    justify-content: space-evenly;
  }
  /* formulario separado Responsive */
  .formulario {
    text-align: center;
  }
  .formInner {
    flex-direction: column;
    height: 640px;
    width: 360px;
    align-content: center;
  }
  .form-contenedor,
  .form-content2 {
    align-content: center;
    width: 100%;
    height: 350px;
    margin-left: 20%;
  }
  .form-content2 {
    margin-top: -80px;
  }

  .form-content2 input,
  select,
  .form-contenedor input {
    font-size: 30px;
    width: 90%;
    height: 50px;
  }
  .button {
    text-align: center;
    height: 80px;
  }
  button {
    width: 100px;
  }
  /* Frase De envio del form Responsive*/
  .ContenedorEnvioExitoso {
    border-radius: 3px;
    width: 270px;
  }
  /* seccion de contacto Responsive*/
  .contact-container {
    margin-top: 80px;
    align-self: center;
    width: 80%;
    height: 210px;
  }
  .contact-container p {
    font-size: 27px;
    padding-left: none;
  }
  .ContactSvg {
    width: 45px;
    font-size: 30px;
  }
  /* seccion de horarios Responsive */
  .Horarios-container {
    height: auto;
    align-self: center;
  }

  .Horarios-container p {
    font-size: 27px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1180px) {
  .footer-contenedor {
    height: 1000px;
  }
  /* Formulario separado Responsive.*/
  .formInner {
    width: 100%;
    justify-content: center;
  }
  .form-contenedor,
  .form-content2 {
    width: 400px;
  }
  .form-contenedor input,
  .form-content2 input,
  select {
    font-size: 40px;
  }
  .form-contenedor label,
  .form-content2 label {
    font-size: 45px;
  }
  .button {
    position: relative;
    left: -120px;
    height: 100px;
    width: 220px;
  }
  .button button {
    font-size: 45px;
    width: 200px;
    height: 60px;
  }
  /* Frase De envio del form*/
  .ContenedorEnvioExitoso {
    position: relative;
    left: -50px;
    top: -30px;
    height: 100px;
    width: 350px;
  }
  .envioExitoso {
    font-size: 35px;
    height: 100px;
    width: 350px;
  }
  /* seccion de contacto Responsive*/
  .contact-container,
  .Horarios-container {
    position: relative;
    top: 140px;
  }
  .contact-container {
    width: 360px;
  }
  .contact-container p {
    font-size: 35px;
    padding-left: 60px;
  }
  .ContactSvg {
    font-size: 40px;
  }
  /* seccion de horarios Responsive */
  .Horarios-container p {
    font-size: 35px;
  }
}
