.sillon {
    display: flex;
    flex-direction: row;
    margin: 100px;
  }
  
  .sillon img {
    width: 250px;
    height: 250px;
    margin-left: 120px;
  }
  .sillon-h1-p {
    width: 510px;
    margin-left: 220px;
    font-size: 40px;
    color: #000;
  }
  .sillon-h1-p p {
    font-size: 20px;
    color: #000;
  }
  @media screen and (max-width: 800px) {
    .sillon img {
      width: 150px;
      height: 150px;
      margin-left: 15px;
    }
    .sillon-h1-p {
      flex-direction: column;
      flex-wrap: wrap;
      text-align: start;
      margin-left: -260px;
      margin-top: 160px;
    }
    .sillon-h1-p p {
      font-size: 28px;
      margin-left: 10px;
    }
  }
  @media screen and (min-width: 801px) and (max-width: 1180px) {
    .sillon {
      flex-direction: column;
      width: 700px;
    }
    .sillon img {
      width: 200px;
      height: 150px;
      margin-left: 30px;
      align-self: flex-start;
    }
    .sillon-h1-p {
      width: 370px;
      height: auto;
      align-self: flex-end;
      margin-top: -150px;
      margin-left: 10px;
    }
    .sillon-h1-p p {
      font-size: 40px;
    }
  }